@model IEnumerable<EventPlanner.Models.EventObj>

@{
    ViewBag.Title = "Index";
}

@section Header {
    <h2>Index</h2>
    @Html.ActionLink("Add", "Create", routeValues: null, htmlAttributes: new { data_icon = "plus", data_iconpos = "notext" })
}

@*<ul data-role="wijlistview">
    @foreach (var item in Model)
    {   
        <li>@Html.ActionLink(item.Subject, "Details", new { id = item.Id })</li>           
    }
</ul>*@


<div id="cal" data-role="wijevcal"></div>
<script type="text/javascript">
    (function () {
        var evcal = $("#cal");

        function parseDate(msDateStr) {
            var m = /\/Date\((\d+)\)\//.exec(msDateStr);
            return m && new Date(parseInt(m[1]));
        }

        $.ajax("/Calendar/GetEvents", {
            success: function (data) {
                var appointments = [];
                //evcal.wijevcal("beginUpdate");

                var eventsData = [];
                $.each(data, function (_, ev) {
                    eventsData.push({
                        id: ev.Id,
                        subject: ev.Subject,
                        location: ev.Location,
                        start: parseDate(ev.Start),
                        end: parseDate(ev.End),
                        description: ev.Description,
                        allDay: ev.AllDay
                    });
                    //evcal.wijevcal("addEvent", {
                    //    id: ev.Id,
                    //    subject: ev.Subject,
                    //    location: ev.Location,
                    //    start: parseDate(ev.Start),
                    //    end: parseDate(ev.End),
                    //    description: ev.Description,
                    //    allDay: ev.AllDay
                    //});
                });
                evcal.wijevcal("option", "eventsData", eventsData);

               
                //evcal.wijevcal("endUpdate");
            }
        });        

        evcal.bind("wijevcalbeforeediteventdialogshow", function (e, data) {
            console.log("yes");
            $(".wijmo-wijappview").wijappview("changePage", "/Calendar/Edit/" + data.data.id);
            return false;
        });
    })();
</script>