@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<p>
    This application was built with Wijmo, jQuery Mobile and ASP.NET MVC. Learn more about Wijmo at <a href="http://wijmo.com">http://wijmo.com</a>.
</p>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
