@{
	ViewBag.Title = "Preventing formatting of the current position and hovering";
	Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}

@section header{
	<style type="text/css">
		.wijmo-wijgrid .wijmo-wijcombobox-wrapper
		{
			float: none;
		}
	</style>

	<script id="scriptInit" type="text/javascript">
		$(document).ready(function () {
			$("#demo").wijgrid({
				showRowHeader: true,
				cellStyleFormatter: function (args) {
					if (args.state & $.wijmo.wijgrid.renderState.current) {
						args.$cell.removeClass("ui-state-active wijmo-wijgrid-current-headercell wijmo-wijgrid-current-cell");
					}
				},
				rowStyleFormatter: function (args) {
					var rs = $.wijmo.wijgrid.renderState;

					if (args.state & rs.hovered) {
						args.$rows.removeClass("ui-state-hover");
					}

					if (args.state & rs.current) {
						args.$rows.find("td:first").removeClass("ui-state-active wijmo-wijgrid-current-rowheadercell");
					}
				}
			});
		});
	</script>
}

<h2>Preventing formatting of the current position and hovering</h2>

<div class="main demo">
	<!-- Begin demo markup -->
	<table id="demo">
		<thead>
			<tr>
				<th>ProductID</th><th>UnitPrice</th><th>Quantity</th><th>Discount</th><th>Discontinued</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11</td><td>14</td><td>12</td><td>0</td><td>false</td>
			</tr><tr>
				<td>42</td><td>9.8</td><td>10</td><td>0</td><td>false</td>
			</tr><tr>
				<td>72</td><td>34.8</td><td>5</td><td>0</td><td>false</td>
			</tr><tr>
				<td>14</td><td>18.6</td><td>9</td><td>0</td><td>false</td>
			</tr><tr>
				<td>35</td><td>12.1</td><td>5</td><td>0.5</td><td>true</td>
			</tr>
		</tbody>
	</table>
	<!-- End demo markup -->
	<div class="demo-options">
	<!-- Begin options markup -->
	<!-- End options markup -->
	</div>
</div>

@section description{
	<p>
		This sample demonstrates how to prevent formatting of the current position and hovering using <b>cellStyleFormatter</b> and <b>rowStyleFormatter</b>.
	</p>
}