<article id="wijmo">
    <section class="welcome">
        <div class="container">
            <h1 id="logo">
                <a href="http://wijmo.com"> Wijmo UI for the Web </a>
            </h1>
            <h2>Thanks for using Wijmo!</h2>
        </div>
    </section>
    <section class="html5">
        <div class="features">
            <div class="container">
                <div class="tagline">
                    <h2>Everything You Need to Build a Better Web</h2>
                </div>
                <div class="column">
                    <img src="http://wijmo.com/files/img/html5-blue.png"><h3>Powered by HTML5</h3><p>Built with HTML5, jQuery, CSS3, and SVG, Wijmo widgets make your applications suitable for Today’s Web.</p>
                </div>
                <div class="column">
                    <img src="http://wijmo.com/files/img/themeroller.png">
                    <h3>Themed with ThemeRoller</h3>
                    <p>Easily develop a consistent look and feel across your entire application.</p>
                </div>
                <div class="column">
                    <img src="http://wijmo.com/files/img/jqueryuimobile-blue.png">
                    <h3>Built on jQuery UI &amp; jQuery Mobile</h3>
                    <p>jQuery and jQuery UI are the defacto JavaScript libraries and have the strongest community of web developers in the world.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="works-everywhere">
        <div class="features">
            <div class="container">
                <div class="tagline">
                    <h2>Works Everywhere</h2>
                </div>
                <div class="container">
                    <div class="column">
                        <h3>Browsers</h3>
                        <img src="http://www.wijmo.com/files/img/browser.png">
                    </div>
                    <div class="column">
                        <h3>Desktop</h3>
                        <img src="http://www.wijmo.com/files/img/desktop.png">
                    </div>
                    <div class="column">
                        <h3>Mobile</h3>
                        <img src="http://www.wijmo.com/files/img/mobile.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="learn-more">
        <div class="features">
            <div class="container">
                <div class="tagline">
                    <h2>Learn more</h2>
                </div>
                <div class="container">
                    <div class="column">
                        <h3>Explore Wijmo</h3>
                        <p>
                            Wijmo is a complete kit of over 40 UI widgets with everything from
                            interactive menus to rich charts.
                        </p>
                        <a class="btn btn-default" target="_blank"
                           href="http://wijmo.com/demo/explore/">Learn more &raquo;</a>
                    </div>
                    <div class="column">
                        <h3>Getting Started with Wijmo</h3>
                        <p>
                            If you know jQuery, you know Wijmo.
                        </p>
                        <a class="btn btn-default" target="_blank"
                           href="http://wijmo.com/wiki/index.php/Getting_Started_with_Wijmo">Learn more &raquo;</a>
                    </div>
                    <div class="column">
                        <h3>See docs</h3>
                        <p>
                            Complete with documentation and professional support,
                            every widget is hand-crafted and includes premium themes.
                        </p>
                        <a class="btn btn-default" target="_blank"
                           href="http://wijmo.com/api/">Learn more &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<style>
    #wijmo {
        margin-bottom: 2em;
    }

    .welcome h1 {
        float: left;
    }

    .welcome h2 {
        text-align: center;
        margin-top: 2em;
        font-size: 3em;
    }

    .welcome #logo a {
        background: transparent url(http://wijmo.com/wp-content/themes/wijmov2/img/wijmo_logo.png) no-repeat center;
        text-indent: -9999px;
        width: 421px;
        height: 169px;
        display: block;
        outline: none;
    }

    .html5 {
        background: #00aadc;
    }

    .works-everywhere {
        background: #3bc6ee;
        text-align: center;
        padding: 1em 0;
        color: #fff;
    }

    .learn-more {
        background: #4fd1f3;
    }

    .features {
        text-align: center;
        padding: 3em 0;
    }

    .container {
        width: 1100px;
        margin: 0 auto;
    }

    .tagline h2 {
        margin-bottom: 1em;
        font-size: 2.8em;
        color: #fff;
    }

    .features .column {
        width: 33%;
        float: left;
    }

    .features h3 {
        color: #fff;
        padding: 0 1em;
        text-align: center;
    }

    .features p {
        color: #dbf7ff;
        padding: 0 4em;
        text-align: center;
    }

    .features a.btn {
        background: #00aadc;
        border-color: #1297BE;
        color: #ffffff;
    }
</style>
