
.kb-container
{
    color: #333;
    font-family: Arial, Tahoma, Verdana;
    font-size: 12px;
    display: none;
    position: absolute;
    word-wrap: break-word;
    z-index: 10000;
    
    width: auto !important;
    height: auto !important;
}

.kb-wrapper
{
    border-collapse: collapse; /* ie 6 hack -- if the global table width is set to anything it could cause us issues*/
    padding: 0;
    width: auto !important;
    border-spacing: 0;
}


.kb-window7
{
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -khtml-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}



.kb-window7 .kb-body
{
    text-align: left;
    background: #fff;
    position: relative;
    border: 1px solid #333;
}

.kb-window7 .kb-content
{
    display: none;
    position: relative;
}

.kb-window7 .kb-loading
{
    position: absolute;
    background: #fff url("skins/loading.gif") no-repeat center center;
    border: solid 1px #999;
    width: 150px;
    height: 60px;
    display: none;
    z-index: 10001;
}

.kb-window7 input[type='text'], .kb-window7 input[type='password'], .kb-window7 textarea
{
    border: solid 1px #b6bfc6;
    background-color: #fff;
    padding: 3px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 90%;
}

.kb-window7 .button
{
    
    display: inline-block;  
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    vertical-align: middle;
    width: 75px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    font-weight: bold;   
    border: 1px solid #999;
    border-bottom-color: #888;
    color: #333;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
}

.kb-window7 .button:hover
{
    border-color: #808E9B;
    -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    -khtml-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    outline: 0;
    text-decoration: none
}



.kb-window7 .kb-t-l, .kb-window7 .kb-t-r, .kb-window7 .kb-b-r, .kb-window7 .kb-b-l
{
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    background: url('skins/sprite.png') no-repeat;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop',src='skins/sprite.png',enabled='true');   */
}


.kb-window7 .kb-t-l
{
    background-position: top left;
}
.kb-window7 .kb-t-r
{
    background-position: top right;
}
.kb-window7 .kb-b-l
{
    background-position: bottom left;
}

.kb-window7 .kb-b-r
{
    background-position: bottom right;
}

.kb-window7 .kb-m-l, .kb-window7 .kb-m-r
{
    background: url('skins/sprite_y.png') repeat-y;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='skins/sprite_y.png',enabled='true');  */ 
    
}

.kb-window7 .kb-m-r
{
    background-position: 100% 0;
}
.kb-window7 .kb-t-c, .kb-window7 .kb-b-c
{
    background: url('skins/sprite_x.png') repeat-x;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='skins/sprite_x.png',enabled='true');  */ 
}

.kb-window7 .kb-t-c
{
    height: 36px;
}

.kb-window7 .kb-b-c
{
    background-position: bottom left;
}

.kb-window7 .kb-close
{
    
    position: absolute;
    top: -35px;
    right: 0;
    width: 48px;
    height: 18px;
    z-index: 1;
    background: url('skins/sprite.png') no-repeat -29px -19px;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='skins/sprite.png',enabled='true');  */ 
}

.kb-window7 .kb-close:hover
{
    background-position: -83px -19px;
    text-decoration: none;
    -moz-box-shadow: 0 0 10px rgba(252, 4, 4, 0.9);
    box-shadow: 0 0 10px rgba(252, 4, 4, 0.9);
    -webkit-box-shadow: 0 0 10px rgba(252, 4, 4, 0.9);
    -khtml-box-shadow: 0 0 10px rgba(252, 4, 4, 0.9);
}

.kb-window7 .mode-image img
{
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
}

.kb-window7 .mode-html .kb-content
{
    overflow: auto;
}

.kb-window7 .kb-title
{
    display: none;
}

.kb-window7 .content-padding
{
    padding: 10px;
}

.kb-window7 .kb-desc
{
    z-index: 1;
    position: absolute;
    bottom: 0px;
    display: none;
    color: #fff;
    background: #000;
    padding: 5px 8px;
    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5; /* khtml, old safari */
    -moz-opacity: 0.5; /* mozilla, netscape */
    opacity: 0.5; /* fx, safari, opera */
}


.kb-window7 .kb-controls
{
    position: absolute;
    bottom: 5px;
    margin-left: -100px;
    left: 50%;
    z-index: 1;
    height: 51px;   
    display: none;
    border: 1px solid #fff;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;    
     filter: alpha(opacity=30); /* internet explorer */
    -khtml-opacity: 0.3; /* khtml, old safari */
    -moz-opacity: 0.3; /* mozilla, netscape */
    opacity: 0.3; /* fx, safari, opera */
    
}

.kb-window7 .kb-controls:hover
{
      filter: alpha(opacity=100); /* internet explorer */
    -khtml-opacity: 1.0; /* khtml, old safari */
    -moz-opacity: 1.0; /* mozilla, netscape */
    opacity: 1.0; /* fx, safari, opera */
}

.kb-window7 .kb-controls a:hover
{
    text-decoration: none;
}

.kb-window7 .kb-left, .kb-window7 .kb-right, .kb-window7 .kb-prev, .kb-window7 .kb-next, .kb-window7 .kb-play, .kb-window7 .kb-stop
{
    background: url('skins/button.png') no-repeat;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='crop',src='skins/button.png',enabled='true');   */
    width: 52px;
    height: 52px;
    float: left;
    display: inline;
}

.kb-window7 .kb-left
{
    background-position: top left;
    width: 22px;
    
}
.kb-window7 .kb-right
{
    background-position: top right;
    width: 22px;
    
}
.kb-window7 .kb-prev
{
    background-position: -20px 0;
}


.kb-window7 .kb-prev:hover
{
    background-position: -20px -52px;
}

.kb-window7 .kb-next
{
    background-position: -116px -0;
}


.kb-window7 .kb-next:hover
{
    background-position: -116px -52px;
}



.kb-window7 .kb-play
{
    background-position: -72px 0;
    width: 44px;
    
}
.kb-window7 .kb-play:hover
{
    background-position: -72px -104px;
}
.kb-window7 .kb-stop
{
    background-position: -72px -52px;
    width: 44px;
}


.kb-window7 .kb-stop:hover
{
    background-position: -72px -156px;
}
/*-----------------------Message Box ------------------------*/

.kb-window7 .mode-message .kb-title
{
    display: block;
    z-index: 1;
    color: #000;
    position: absolute;
    top: -26px;
    font-weight: bold;
    font-size: 14px;   
    
}

.kb-window7 .kb-foot
{    
    border-top: 1px solid #ddd;
    padding: 10px 0;
    background-color:#f4f4f4;      
    text-align: right;     
}

.kb-window7 .mode-message .kb-content
{
    
    text-align: left;
    min-height: 40px;
    height: auto !important;
    max-height: 500px;
    overflow: auto;
    padding: 10px 10px 10px 50px;
    background:#fff url('skins/info.png') no-repeat 10px 10px;  
}

.kb-window7 .mode-message .confirm
{
    background-image: url("skins/warning.png");
}

.kb-window7 .mode-message .prompt
{
    background-image: url("skins/help.png");
}


   