@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    This Web app was built in ASP.NET MVC 3. The UI powered by <a href="http://wijmo.com">Wijmo</a>. The mobile version was created with combining <a href="http://jquerymobile.com">jQuery Mobile</a> and <a href="http://wijmo.com">Wijmo</a> charts.
</p>
