@{
	ViewBag.Title = "Compact";
	Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section header
{
	<script id="scriptInit" type="text/javascript">
		$(document).ready(function () {
			$("#wijeditor").wijeditor();

		});
	</script>
}
<h2>
	Compact
</h2>
		<div class="main demo">
			<!-- Begin demo markup -->
			<textarea id="wijeditor" style="width: 320px; height: 480px;">
						<img src="http://cdn.wijmo.com/images/html5-blue.png"
							alt="HTML5" />
					<h1>
						Mobile Web
					</h1>
					<p>
						The Mobile Web refers to the use of Internet-connected applications, or browser-based access to the Internet from a mobile device, such as a smartphone or tablet computer, connected to a wireless network.
					</p>
					<p>
						Traditionally, access to the Web has been via fixed-line services. However, the Web is becoming more accessible by portable and wireless devices and in 2008 mobile access to the Internet exceeded desktop computer-based access for the first time (source: International Telecommunications Union, Oct 2009). The shift to mobile Web access has been accelerating with the rise since 2007 of larger multitouch smartphones, and of multitouch tablet computers since 2010. Both platforms provide better Internet access and browser- or application-based user Web experiences than previous generations of mobile devices have done.
					</p>
					<p>
						The distinction between mobile Web applications and native applications is anticipated to become increasingly blurred, as mobile browsers gain direct access to the hardware of mobile devices (including accelerometers and GPS chips), and the speed and abilities of browser-based applications improve. Persistent storage and access to sophisticated user interface graphics functions may further reduce the need for the development of platform-specific native applications.
					</p>
		</textarea>
			<!-- End demo markup -->
			<div class="demo-options">
				<!-- Begin options markup -->
				<!-- End options markup -->
			</div>
		</div>
@section description
{
	<p>
		Author and manage HTML content on any Web page with the C1Editor control. This intuitive
		Microsoft Word-like editor allows you to edit in your preferred style: design, source
		code, or split view. C1Editor also supports five embedded Visual Styles allowing
		you to consistently style your Web applications.
	</p>
}
