@{
    ViewBag.Title = "Display Format";
    Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section header
{
	<script id="scriptInit" type="text/javascript">
		$(document).ready(function () {
			$("#textbox1").wijinputdate(
			{
			    displayFormat: "F"
			});
		});
	</script>
}
<h2>Display Format</h2>
<div class="main demo">
	<!-- Begin demo markup -->
	<input type="text" id="textbox1" />
	<!-- End demo markup -->
	<div class="demo-options">
		<!-- Begin options markup -->
		<!-- End options markup -->
	</div>
</div>
@section description
{
 <p>
                This sample demonstrates that when the <b>displayFormat</b> option is set to a different value width the format, when date widget lost focus, the display format will be applied to the display the text.</p>
}


