@{
	ViewBag.Title = "DropDown";
	Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section header
{
	<script id="scriptInit" type="text/javascript">
		$(document).ready(function () {
		    $("#textbox1").wijinputdate(
		    {
		        dateFormat: 'yyyy/M/d',
		        pickers: { list: [{ label: '1980/4/8', value: new Date(1980, 3, 8) }, { label: '2007/12/25', value: new Date(2007, 11, 25) }, { label: 'today', value: new Date() }] },
		        showDropDownButton: true
		    });
		});
	</script>
}
<h2>DropDown</h2>
<div class="main demo">
	<!-- Begin demo markup -->
	<input type="text" id="textbox1" />
	<!-- End demo markup -->
	<div class="demo-options">
		<!-- Begin options markup -->
		<!-- End options markup -->
	</div>
</div>
@section description
{
	<p>
	This sample shows how you can easily create a drop-down box for date input.
	</p>
}

