@{
	ViewBag.Title = "DropDown";
	Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section header
{
	<script id="scriptInit" type="text/javascript">
		$(document).ready(function () {
		    $("#textbox1").wijinputmask(
		    {
		        mask: '000-0000',
		        comboItems: ['100-1000', '200-2000', '123-2909'],
		        showTrigger: true
		    });
		});
	</script>
}
<h2>DropDown</h2>
<div class="main demo">
	<!-- Begin demo markup -->
			
	<input type="text" id="textbox1" />
	<h6>
		Mask</h6>
	<p>
		000-0000</p>
	<!-- End demo markup -->
	<div class="demo-options">
		<!-- Begin options markup -->
		<!-- End options markup -->
	</div>
</div>

@section description
{
	<p>
		This sample shows how predefined input values can be specified using the <b>comboItems</b> option.
	</p>
}

