@{
	ViewBag.Title = "Password";
	Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section header
{
	<script id="scriptInit" type="text/javascript">
		$(document).ready(function () {
		    $("#textbox1").wijinputmask(
		    {
		        mask: '000-00-0000',
		        passwordChar: '#',
		        hidePromptOnLeave: true
		    });

		    $("#textbox2").wijinputmask(
		    {
		        mask: 'CCCCCCC',
		        passwordChar: '*',
		        hidePromptOnLeave: true
		    });
		});
	</script>
}
<h2>Password</h2>
<div class="main demo">
	<!-- Begin demo markup -->
	<input type="text" id="textbox1" />
	<h6>
		Mask</h6>
	<p>
		000-00-0000</p>
	<h6>
		Password Char</h6>
	<p>
		#</p>
	<input type="text" id="textbox2" />
	<h6>
		Mask</h6>
	<p>
		CCCCCCC</p>
	<h6>
		Password Char:</h6>
	<p>
		*</p>
	<!-- End demo markup -->
	<div class="demo-options">
		<!-- Begin options markup -->
		<!-- End options markup -->
	</div>
</div>

@section description
{
	<p>
		This sample demonstrates how to display password characters, such as * and #, by setting the <b>passwordChar</b> option.
	</p>
}

