@{
    ViewBag.Title = "DragFill";
    Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section header
{
    <style type="text/css">
        #hSlider
        {
            width: 300px;
            height: 100px;
        }
    </style>
    <script id="scriptInit" type="text/javascript">
        $(document).ready(function () {
            $("#hSlider").wijslider({ orientation: "horizontal", range: true, min: 0, max: 500, step: 2, values: [100, 400] });
        });    
    </script>
}
<h2>
    DragFill</h2>
<div class="main demo">
    <!-- Begin demo markup -->
    <div id="hSlider">
    </div>
    <!-- End demo markup -->
    <div class="demo-options">
        <!-- Begin options markup -->
        <!-- End options markup -->
    </div>
</div>
@section description{
	 <p>
                wijslider allows the user to drag the fill between the two thumb buttons. This sample
                illustrates that behavior using the dragFill option.</p>
}
