@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}

@section header
{
     <script id="scriptInit" type="text/javascript">
         $(document).ready(function () {
             $("#wijmenu1").wijmenu();

             $(":input").wijradio().wijcheckbox();
             $(".wijmo-wijmenu-text").parent().bind("click", function () {
                 $("#wijmenu1").wijmenu("hideAllMenus");
             }).hover(function () {
                 $(this).addClass("ui-state-hover");
             }, function () {
                 $(this).removeClass("ui-state-hover");
             })
         });
    </script>
}

<h2>Template</h2>
 <div class="main demo">
            <!-- Begin demo markup -->
            <ul id="wijmenu1">
                <li><a href="#">File</a>
                    <ul>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">New</a><span class="wijmo-wijmenu-icon-right">Ctrl+N</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">Open</a><span class="wijmo-wijmenu-icon-right">Ctrl+O</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">Save</a><span class="wijmo-wijmenu-icon-right">Ctrl+S</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Edit</a>
                    <ul>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">Undo</a><span class="wijmo-wijmenu-icon-right">Ctrl+Z</span>
                            </div>
                        </li>
                        <li></li>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">Cut</a><span class="wijmo-wijmenu-icon-right">Ctrl+X</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">Copy</a><span class="wijmo-wijmenu-icon-right">Ctrl+C</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#" class="wijmo-wijmenu-text">Paste</a><span class="wijmo-wijmenu-icon-right">Ctrl+V</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#">View</a>
                    <ul>
                        <li><span>
                            <input id="checkbox1" type="checkbox" /><label for="checkbox1">Status Bar</label>
                        </span></li>
                        <li><span>
                            <input id="checkbox2" type="checkbox" /><label for="checkbox2">Side Bar</label>
                        </span></li>
                        <li></li>
                        <li><a href="#">Character Encoding</a>
                            <ul>
                                <li><span>
                                    <input type="radio" name="radiobutton1" id="radio1" /><label for="radio1">Western (ISO-8859-1)</label>
                                </span></li>
                                <li><span>
                                    <input type="radio" name="radiobutton1" id="radio2" /><label for="radio2">Unicode (UTF-8)</label>
                                </span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End demo markup -->
            <div class="demo-options">
                <!-- Begin options markup -->
                <!-- End options markup -->
            </div>
        </div>

        @section description
        {
            This sample provides a template with menus, shortcut menu items, and radiobuttons and checkboxes within a menu.
        }
