<div id="left-panel" class="col-left">

    <div class="menu-head">
        Menu
    </div>

    <ul class="menu-left">
        <li>
            <a href="/Member/" class="ajax" data-ajax="{loading:true,target:'#ajax-container',data:{f:1},state:true,title:'Member management'}">Member management</a>
        </li>
        <li>
            <a href="/News/" class="actived ajax" data-ajax="{target:'#ajax-container',data:{f:1},state:true,title:'News management'}">News management</a>
        </li>
    </ul>

</div>
