.dd-menu {
    margin: 0;
    /*padding: 3px;*/
    /*border: solid 1px #ccc;*/
    padding: 0;
}

    .dd-menu a {
        display: block;
        width: 100%;
        line-height: 22px;
        height: 22px;
    }

        .dd-menu a:hover {
            background: #ccc;
        }

#gb {
    font: 13px/27px Arial,sans-serif;
    height: 30px;
}

#gbz, #gbg {
    height: 30px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 1000;
}

#gbz {
    left: 0;
    padding-left: 4px;
}

#gbg {
    padding-right: 5px;
    right: 0;
}

#gbs {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    top: -999px;
    z-index: 998;
}

.gbto #gbs {
    background: none repeat scroll 0 0 #FFFFFF;
}

#gbx3, #gbx4 {
    background-color: #2D2D2D;
    background-image: none;
    background-position: 0 -138px;
    background-repeat: repeat-x;
    border-bottom: 1px solid #000000;
    font-size: 24px;
    height: 29px;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 990;
}

#gbx3 {
    left: 0;
}

#gbx4 {
    right: 0;
}

#gbb {
    position: relative;
}

#gbbw {
    left: 0;
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
}

.gbtcb {
    position: absolute;
    visibility: hidden;
}

#gbz .gbtcb {
    right: 0;
}

#gbg .gbtcb {
    left: 0;
}

.gbxx {
    display: none !important;
}

.gbxo {
    opacity: 0 !important;
}

.gbm {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BEBEBE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: left;
    z-index: 999;
}

    .gbm .aclose {
        background: url("skins/aclose.png") no-repeat;
        position: absolute;
        top: 5px;
        right: 10px;
        width: 9px;
        height: 9px;
        text-indent: -9999px;
        z-index: 9999;
    }

.gbrtl .gbm {
}

.gbto .gbm, .gbto #gbs {
    top: 29px;
    visibility: visible;
}

#gbz .gbm, #gbz #gbs {
    left: 0;
}

#gbg .gbm, #gbg #gbs {
    right: 0;
}

.gbxms {
    background-color: #CCCCCC;
    bottom: -2px;
    display: block;
    left: -2px;
    opacity: 0.4;
    position: absolute;
    right: -2px;
    top: -1px;
    z-index: 1;
}

.gbma {
    border-color: #C0C0C0 transparent transparent;
    border-right: 3px dashed transparent;
    border-style: solid dashed dashed;
    border-width: 3px 3px 0;
    display: inline-block;
    font-size: 0;
    height: 0;
    left: 4px;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: -1px;
    width: 0;
}

#gbztms1, #gbi4m1, #gbi4s, #gbi4t {
}

.gbtc, .gbmc, .gbmcc {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.gbmc {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 0;
    position: relative;
    z-index: 2;
}

.gbt {
    display: inline-block;
    line-height: 27px;
    padding: 0;
    position: relative;
    vertical-align: top;
}

.gbt {
}

.gbto {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.gbzt, .gbgt {
    cursor: pointer;
    display: block;
    text-decoration: none !important;
}

span#gbg6, span#gbg4 {
    cursor: default;
}

.gbts {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block;
    padding: 0 5px;
    position: relative;
    z-index: 1000;
}

.gbts {
}

.gbto .gbts {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BEBEBE;
    color: #3366CC;
    padding-bottom: 1px;
    padding-top: 2px;
}

.gbz0l .gbts {
    color: #FFFFFF;
    font-weight: bold;
}

.gbtsa {
    padding-right: 9px;
}

#gbz .gbzt, #gbz .gbgt, #gbg .gbgt {
    color: #CCCCCC !important;
}

.gbtb2 {
    border-top: 2px solid transparent;
    display: block;
}

.gbto .gbzt .gbtb2, .gbto .gbgt .gbtb2 {
    border-top-width: 0;
}

.gbtb .gbts {
    background: url("//ssl.gstatic.com/gb/images/h_bedf916a.png") repeat scroll -27px -22px transparent;
    border: 0 none;
    font-size: 0;
    padding: 29px 0 0;
    width: 1px;
}

.gbzt-hvr, .gbzt:focus, .gbgt-hvr, .gbgt:focus {
    background-color: #4C4C4C;
    background-image: none;
    background-position: 0 -102px;
    background-repeat: repeat-x;
    outline: medium none;
    text-decoration: none !important;
}

.gbpdjs .gbto .gbm {
    min-width: 99%;
}

.gbz0l .gbtb2 {
    border-top-color: #DD4B39 !important;
}

#gbi4s, #gbi4s1 {
    font-weight: bold;
}

#gbg6.gbgt-hvr, #gbg6.gbgt:focus {
    background-color: transparent;
    background-image: none;
}

.gbg4a {
    font-size: 0;
    line-height: 0;
}

    .gbg4a .gbts {
        padding: 27px 5px 0;
    }

.gbto .gbg4a .gbts {
    padding: 29px 5px 1px;
}

#gbi4i, #gbi4id {
    border: 0 none;
    height: 24px;
    left: 5px;
    position: absolute;
    top: 1px;
    width: 24px;
}

.gbto #gbi4i, .gbto #gbi4id {
    top: 3px;
}

.gbi4p {
    display: block;
    width: 24px;
}

#gbi4id {
    background-position: -44px -101px;
}

#gbmpid {
    background-position: 0 0;
}

#gbmpi, #gbmpid {
    border: medium none;
    display: inline-block;
    height: 48px;
    width: 48px;
}

#gbmpiw {
    display: inline-block;
    line-height: 9px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

#gbmpi, #gbmpid, #gbmpiw {
}

#gbg5 {
    font-size: 0;
}

#gbgs5 {
    padding: 5px !important;
}

.gbto #gbgs5 {
    padding: 7px 5px 6px !important;
}

#gbi5 {
    background: url("//ssl.gstatic.com/gb/images/h_bedf916a.png") repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 17px;
    width: 16px;
}

.gbto #gbi5 {
    background-position: -6px -22px;
}

.gbn .gbmt, .gbn .gbmt:visited, .gbnd .gbmt, .gbnd .gbmt:visited {
    color: #DD8E27 !important;
}

.gbf .gbmt, .gbf .gbmt:visited {
    color: #990000 !important;
}

.gbmt, .gbml1, .gbmlb, .gbmt:visited, .gbml1:visited, .gbmlb:visited {
    color: #3366CC !important;
    text-decoration: none !important;
}

    .gbmt, .gbmt:visited {
        display: block;
    }

    .gbml1, .gbmlb, .gbml1:visited, .gbmlb:visited {
        display: inline-block;
        margin: 0 10px;
    }

        .gbml1, .gbmlb, .gbml1:visited, .gbmlb:visited {
        }

            .gbml1, .gbml1:visited {
                padding: 0 10px;
            }

                .gbml1-hvr, .gbml1:focus {
                    outline: medium none;
                    text-decoration: underline !important;
                }

#gbpm .gbml1 {
    display: inline;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.gbmlb, .gbmlb:visited {
    line-height: 27px;
}

    .gbmlb-hvr, .gbmlb:focus {
        outline: medium none;
        text-decoration: underline !important;
    }

.gbmlbw {
    color: #CCCCCC;
    margin: 0 10px;
}

.gbmt {
    padding: 0 20px;
}

    .gbmt-hvr, .gbmt:focus {
        background: none repeat scroll 0 0 #EEEEEE;
        cursor: pointer;
        outline: 0 solid black;
        text-decoration: none !important;
    }

.gbm0l, .gbm0l:visited {
    color: #000000 !important;
    font-weight: bold;
}

.gbmh {
    border-top: 1px solid #BEBEBE;
    font-size: 0;
    margin: 10px 0;
}

#gbd4 .gbmc {
    background: none repeat scroll 0 0 #F5F5F5;
    padding-top: 0;
}

#gbmpdv {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #BEBEBE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 1;
}

#gbd4 .gbmh {
    margin: 0;
}

.gbmtc {
    line-height: 27px;
    margin: 0;
    padding: 0;
}

.GBMCC:last-child:after, #GBMPAL:last-child:after {
    content: "\A \A ";
    position: absolute;
    white-space: pre;
}

#gbmps {
}

#gbd4 .gbpc, #gbmpas .gbmt {
    line-height: 17px;
}

#gbd4 .gbpgs .gbmtc {
    line-height: 27px;
}

#gbd4 .gbmtc {
    border-bottom: 1px solid #BEBEBE;
}

#gbd4 .gbpc {
    display: inline-block;
    margin: 16px 50px 10px 0;
    vertical-align: top;
}

#gbd4 .gbpc {
}

.gbpc .gbps, .gbpc .gbps2 {
    display: block;
    margin: 0 20px;
}

#gbmplp.gbps {
    margin: 0 10px;
}

.gbpc .gbps {
    color: #000000;
    font-weight: bold;
}

.gbpc .gbpd {
    margin-bottom: 5px;
}

.gbpd .gbmt, .gbpd .gbps {
    color: #666666 !important;
}

.gbpd .gbmt {
    opacity: 0.4;
}

.gbps2 {
    color: #666666;
    display: block;
}

.gbp0 {
    display: none;
}

    .gbp0 .gbps2 {
        font-weight: bold;
    }

#gbd4 .gbmcc {
    margin-top: 5px;
}

.gbpmc {
    background: none repeat scroll 0 0 #FEF9DB;
}

    .gbpmc .gbmt {
        padding: 10px 20px;
    }

#gbpm {
    border-spacing: 0;
    margin: 0;
    white-space: normal;
}

    #gbpm .gbmt {
        border-top: medium none;
        color: #000000 !important;
        font: 11px Arial,sans-serif;
    }

#gbpms {
}

.gbpms2 {
    font-weight: bold;
    white-space: nowrap;
}

#gbmpal {
    border-spacing: 0;
    margin: 0;
    white-space: nowrap;
    width: 100%;
}

.gbmpala, .gbmpalb {
    font: 13px/27px Arial,sans-serif;
    padding: 10px 20px 0;
    white-space: nowrap;
}

.gbmpala {
    padding-left: 0;
    text-align: left;
}

.gbmpalb {
    padding-right: 0;
    text-align: right;
}

#gbmpasb .gbps {
    color: #000000;
}

#gbmpal .gbqfbb {
    margin: 0 20px;
}

.gbp0 .gbps {
}

.gbiba {
    margin: 8px 20px 10px;
}

.gbmpiaw {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 10px;
    margin-top: 10px;
}

.gbxv {
    visibility: hidden;
}

.gbmpiaa {
    display: block;
    margin-top: 10px;
}

.gbmpia {
    border: medium none;
    display: block;
    height: 48px;
    width: 48px;
}

.gbmpnw {
    display: inline-block;
    height: auto;
    margin: 16px 0 18px;
    vertical-align: top;
}

.gbqfb, .gbqfba, .gbqfbb {
    -moz-user-select: none;
    border-radius: 2px 2px 2px 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
}

    .gbqfb:focus, .gbqfba:focus, .gbqfbb:focus {
        border: 1px solid #4D90FE;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
        outline: medium none;
    }

.gbqfb-hvr:focus, .gbqfba-hvr:focus, .gbqfbb-hvr:focus {
    box-shadow: 0 0 0 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.gbqfb-hvr, .gbqfba-hvr, .gbqfbb-hvr {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.gbqfb::-moz-focus-inner, .gbqfba::-moz-focus-inner, .gbqfbb::-moz-focus-inner {
    border: 0 none;
}

.gbqfba, .gbqfbb {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444 !important;
    font-size: 11px;
}

.gbqfb {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF !important;
}

.gbqfb-hvr, .gbqfb-hvr:focus {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top, #4D90FE, #357AE8);
    border-color: #2F5BB7;
}

.gbqfb:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.gbqfba {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
}

.gbqfba-hvr, .gbqfba-hvr:active {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top, #F8F8F8, #F1F1F1);
}

.gbqfbb {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top, #FFFFFF, #FBFBFB);
}

.gbqfbb-hvr, .gbqfbb-hvr:active {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top, #FFFFFF, #F8F8F8);
}

    .gbqfba-hvr, .gbqfba-hvr:active, .gbqfbb-hvr, .gbqfbb-hvr:active {
        border-color: #C6C6C6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: #222222 !important;
    }

.gbqfba:active, .gbqfbb:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

#gbd1 .gbmc, #gbd3 .gbmc {
    padding: 0;
}

#gbgs1 {
    padding-top: 0;
    text-align: center;
}

.gbto #gbi1 {
    padding-top: 2px;
}

#gbi1 {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    width: 21px;
}

#gbi1c {
    -moz-transition-property: bottom;
    bottom: -4px;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    width: 21px;
}

#gbi1a {
    background: url("//ssl.gstatic.com/gb/images/h_bedf916a.png") repeat scroll 0 -274px transparent;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 21px;
}

.gbto #gbi1a {
}

#gbi1a.gbid {
    background-position: -26px -274px;
}

.gbto #gbi1a.gbid {
}

#gbi1.gbids {
    color: #999999;
}

.gbto #gbi1a {
    top: 5px;
}

#gbg3 .gbts {
    line-height: 20px;
}

.gbgsc {
    padding-bottom: 7px;
    position: relative;
    top: 3px;
}

.gbgsca, .gbgscb {
    background: url("//ssl.gstatic.com/gb/images/h_bedf916a.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    position: absolute;
    top: 0;
    width: 3px;
}

.gbgsca {
    background-position: 0 -300px;
    left: 0;
}

.gbgscb {
    background-position: -153px -300px;
    right: 0;
}

.gbgsb {
    background: url("//ssl.gstatic.com/gb/images/h_bedf916a.png") repeat scroll -3px -300px transparent;
    height: 20px;
    left: 3px;
    position: absolute;
    right: 3px;
    top: 0;
}

.gbgss {
    padding: 0 6px;
    visibility: hidden;
}

.gbgst, .gbgsta {
    color: #666666;
    padding-left: 3px;
    padding-right: 5px;
}

.gbgsta {
    display: none;
}

.gbto .gbgsb, .gbto .gbgsca, .gbto .gbgscb {
    background: none repeat scroll 0 0 transparent;
}

.gbto .gbgst {
    display: none;
}

.gbgsc, .gbgst, .gbto .gbgsta {
    display: inline-block;
}

.gbgsc, .gbgst, .gbto .gbgsta {
}

#gbns {
    display: none;
}

.gbmwc, #gbwc {
    position: absolute;
    right: 0;
    top: -999px;
    width: 440px;
    z-index: 1000;
}

    #gbwc.gbmwca {
        top: 0;
    }

#gbmpi, #gbmpid {
    height: 96px;
    margin-right: 0;
    width: 96px;
}

.gbmsg {
    display: none;
    position: absolute;
    top: 0;
}

.gbmsgo .gbmsg {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    text-align: center;
    top: 30%;
    width: 100%;
    z-index: 3;
}

#gbd1, #gbd1 .gbmc {
    height: 190px;
    width: 440px;
}

#gbd3, #gbd3 .gbmc {
    height: 8em;
    width: 440px;
}

#gbmpicb, #gbmpicp {
    -moz-transition: opacity 0.218s ease-in-out 0s;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-decoration: none !important;
    white-space: normal;
    width: 96px;
}

#gbmpicb {
    -moz-transition: background-color 0.218s ease-in-out 0s;
    background-color: #4D90FE;
    opacity: 0.7;
    padding: 7px 0;
}

#gbmpicp {
    padding: 12px 0 7px;
}

#gbmpas {
    max-height: 276px;
}

#gbmm {
    max-height: 530px;
}

.gbsb {
    display: block;
    position: relative;
}

.gbsbic {
    overflow: auto;
}

.gbsbis .gbsbt, .gbsbis .gbsbb {
    left: 0;
    margin-right: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.gbsb .gbsbt:after, .gbsb .gbsbb:after {
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.gbsbis .gbsbt {
    background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.2), transparent);
    height: 6px;
    top: 0;
}

.gbsb .gbsbt:after {
    border-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    top: 0;
}

.gbsb .gbsbb {
    background-image: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.2), transparent);
    bottom: 0;
    height: 4px;
}

    .gbsb .gbsbb:after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-color: rgba(0, 0, 0, 0.3);
        bottom: 0;
    }
