@{
    ViewBag.Title = "Donut";
    Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
@section  header
{
    <style type="text/css">
        #wijpiechart
        {
            width: 756px;
            height: 475px;
        }
    </style>
    <script id="scriptInit" type="text/javascript">
        $(document).ready(function () {
            $("#wijpiechart").wijpiechart({
                radius: 140,
                innerRadius: 40,
                showChartLabels: false,
                hint: {
                    content: function () {
                        return this.data.label + " : " + Globalize.format(this.value / this.total, "p2");
                    }
                },
                legend: {
                    text: "May 2009 - May 2010"
                },
                header: {
                    text: "Steam - DX10/11 Systems (Vista/Win7 + DX10/11 GPU)"
                },
                seriesList: [{
                    label: "DX11GPU & WIN7",
                    legendEntry: true,
                    data: 5.6,
                    offset: 30
                }, {
                    label: "DX10GPU & WIN7",
                    legendEntry: true,
                    data: 56.36,
                    offset: 0
                }, {
                    label: "DX10/11GPU & XP",
                    legendEntry: true,
                    data: 16.67,
                    offset: 0
                }, {
                    label: "DX9 SM2b & 3.0",
                    legendEntry: true,
                    data: 11.77,
                    offset: 0
                }, {
                    label: "DX9 SM 2 GPU",
                    legendEntry: true,
                    data: 4.34,
                    offset: 0
                }, {
                    label: "DX8 GPU & BELOW",
                    legendEntry: true,
                    data: 5.13,
                    offset: 0
                }]
            });
        });
    </script>
}
<h2>
    Donut</h2>
<div class="main demo">
    <!-- Begin demo markup -->
    <div id="wijpiechart" class="ui-widget ui-widget-content ui-corner-all">
    </div>
    <!-- End demo markup -->
    <div class="demo-options">
        <!-- Begin options markup -->
        <!-- End options markup -->
    </div>
</div>
@section description
    {
    <p>
        This sample demonstrates how to create a doughnut pie chart simply by setting the
        <b>innerRadius</b> option.</p>
}
